<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.adalab.examination.mapper.StudentInfoMapper">


    <select id="selectWeekDataPage" resultType="com.adalab.examination.entity.StudentInfo">
        SELECT *
        FROM `student_info`
        WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) <![CDATA[<=]]> DATE(begin_date)
        ORDER BY episode desc
        limit #{start} , #{pageSize}
    </select>


    <select id="selectWeekData" resultType="com.adalab.examination.entity.StudentInfo">
        SELECT *
        FROM `student_info`
        WHERE DATE_SUB(CURDATE(), INTERVAL 7 DAY) <![CDATA[<=]]> DATE(begin_date)
        ORDER BY created_date desc
    </select>


    <select id="selectWithinSevenDays" resultType="com.adalab.examination.entity.StudentInfo">
        SELECT DISTINCT *
        FROM student_info
        WHERE DATE_ADD(begin_date, INTERVAL 3  DAY) >= #{begin_data}
        AND DATE_SUB(begin_date, INTERVAL 3  DAY) <![CDATA[<=]]> #{begin_data}
        ORDER BY begin_date DESC;
    </select>


</mapper>

